@model SmartCattle.Web.Controllers.SensorController.AssignSensorModel

<table class="table table-bordered table-hover table-striped" id="searchable">
    <thead class="bordered-darkorange">
        <tr role="row">
            <th>
                @Localization.getString("Sensor_serialNumber")
            </th>
            <th>
                @Localization.getString("Mac_Address")
            </th>
            @*<th>
                    @Localization.getString("Status")
                </th>*@
            <th>
                @Localization.getString("Cattle_Number")
            </th>
            <th>
                @Localization.getString("Unassign")
            </th>
        </tr>
        <tr>
            <th class="relative ">
                <input id="SerialNumber_Input" type="text" class="filter-input" />
            </th>
            <th class="relative ">
                <input id="MacAddress_Input" type="text" class="filter-input" />
            </th>
            <th class="relative ">
                <input id="CattleId_Input" type="text" class="filter-input" />
            </th>
            <th class="relative ">
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr></tr>
    </tfoot>
    <tbody>
        @if (Model.PagedSensors != null && Model.PagedSensors.Any())
        {
            foreach (var item in Model.PagedSensors)
            {
                <tr class="rowData" data-rowid="@item.ID">
                    <td>@item.Equipmentid</td>
                    <td>@item.MacAddress</td>
                    @if (item.cattleId != null)
                    {
                        if (Model.Cattles.FirstOrDefault(c => c.ID == item.cattleId) != null)
                        {
                            <td>@Model.Cattles.FirstOrDefault(c => c.ID == item.cattleId).animalNumber </td>
                        }
                        else
                        {
                            <td class="gray">@Localization.getString("Not_Linked") </td>
                        }
                    }
                    <td>
                        <span>
                            @{
                                if (Model.Cattles.FirstOrDefault(c => c.ID == item.cattleId) != null)
                                {
                                    var tag_name = "Sensor_" + item.ID;
                                    <a href="#" data-id="@tag_name" class="btn btn-info btn-xs edit" onclick="UnassignSensor('@tag_name')">
                                        <i class="fa fa-edge"></i> @Localization.getString("Unassign")
                                    </a>
                                }
                                else
                                {

                                }
                            }
                        </span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<br />
<div id="paging" class="row">
    <div class="col-sm-5"><div>@*40Showing @((Model.current - 1) * 15 + 1) to @((Model.current) * 15) entries*@</div></div>
    <div class="col-sm-6">
        <div class="dataTables_paginate paging_bootstrap" id="searchable_paginate">
            <ul class="pagination">
                <li data-index="1"><a href="#">first</a></li>
                @if (Model.current - 3 > 0)
                {
                    <li><a disabled="disabled">.....</a></li>
                }
                @if (Model.current - 2 > 0)
                {
                    <li data-index="@(Model.current-2)"><a href="#">@(Model.current - 2)</a></li>
                }
                @if (Model.current - 1 > 0)
                {
                    <li data-index="@(Model.current-1)"><a href="#">@(Model.current - 1)</a></li>
                }
                <li data-index="@(Model.current)" class="active"><a href="#">@Model.current</a></li>

                @if (Model.current + 1 <= Model.pages)
                {
                    <li data-index="@(Model.current+1)"><a href="#">@(Model.current + 1)</a></li>
                }
                @if (Model.current + 2 <= Model.pages)
                {
                    <li data-index="@(Model.current+2)"><a href="#">@(Model.current + 2)</a></li>
                }
                @if (Model.current + 3 <= Model.pages)
                {
                    <li disabled="disabled"><a>.....</a></li>
                }
                <li data-index="@Model.pages"><a href="#">last</a></li>
            </ul>
        </div>
    </div>
</div>