@model SmartCattle.Web.Controllers.TemperatureViweModel 
@using SmartCattle.DomainClass
@using Newtonsoft.Json;
@using System.Threading;
@using Resources;

<input type="hidden" value="@ViewBag.MAC" id="MACNumber" />

<script src="~/assets/Charts/amchart_fa_date/jdate.min.js"></script>
@{
    if (@Thread.CurrentThread.CurrentCulture.Name == "fa-IR")
    {
        <script src="~/assets/Charts/amchart_fa_date/amcharts_fa.js"></script>
    }
    else
    {
        <script src="~/assets/Charts/amchart_fa_date/amcharts_en.js"></script>
    }
}
<script src="~/assets/Charts/amchart_fa_date/serial.js"></script>
<script src="~/assets/Charts/amchart_fa_date/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="~/assets/Charts/amchart_fa_date/plugins/export/export.css" type="text/css" media="all" />
<script src="~/assets/Charts/amchart_fa_date/themes/none.js"></script>
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<div id="chartdiv" style="padding-top:50px"></div>

<script>
    waitingDialog.show('@Localization.getString("Cattle_Body_Temp_Loading")', {
        headerText: '@Localization.getString("Cattle_Body_Temp")', dialogSize: 'sm', progressType: 'danger'
    });
    var MACNumber = document.getElementById('MACNumber').value;

    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: '@Url.Action("getSpecTemperature", "Cattle")',
        data: '{MAC: "' + MACNumber + '", date_and_step: "' + window.location.search.substring(1) + '", cultureInfo: "' + cultureInfo + '"}',
        dataType: "json",
        success: function (data, status) {
            DrawCattleTemp(data);
        },
        error: function (result) {
            waitingDialog.hide();
            //alert("Error");
        }
    });
</script>

<script>

    var chart;
    function DrawCattleTemp(input)
    {
        var charData = [];
        for (var i = 0; i < input.length; i++) {
            charData.push(
            {
                date: input[i].detectorTime,
                value: input[i].tObj
            });
        }
        chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "none",
            "marginRight": 40,
            "marginLeft": 40,
            "autoMarginOffset": 20,
            "mouseWheelZoomEnabled": true,
            "dataDateFormat": "YYYY-MM-DD HH:NN",
            "valueAxes": [{
                "id": "v1",
                "axisAlpha": 0,
                "position": "left",
                "ignoreAxisWidth": true
            }],
            "balloon": {
                "borderThickness": 1,
                "shadowAlpha": 0
            },
            "graphs": [{
                "id": "g1",
                "balloon": {
                    "drop": true,
                    "adjustBorderColor": false,
                    "color": "#ffffff"
                },
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "bulletSize": 5,
                "hideBulletsCount": 50,
                "lineThickness": 2,
                "title": "red line",
                "useLineColorForBulletBorder": true,
                "valueField": "value",
                "balloonText": "<span style='font-size:12x;'>[[value]]</span>"
            }],
            "chartScrollbar": {
                "graph": "g1",
                "oppositeAxis": false,
                "offset": 30,
                "scrollbarHeight": 40,
                "backgroundAlpha": 0,
                "selectedBackgroundAlpha": 0.1,
                "selectedBackgroundColor": "#888888",
                "graphFillAlpha": 0,
                "graphLineAlpha": 0.5,
                "selectedGraphFillAlpha": 0,
                "selectedGraphLineAlpha": 1,
                "autoGridCount": true,
                "color": "#AAAAAA"
            },
            "chartCursor": {
                "pan": true,
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "cursorAlpha": 1,
                "cursorColor": "#258cbb",
                "limitToGraph": "g1",
                "valueLineAlpha": 0.2,
                "valueZoomable": true,
                "categoryBalloonDateFormat": "JJ:NN D MMM YYYY"
            },
            "valueScrollbar": {
                "oppositeAxis": false,
                "offset": 50,
                "scrollbarHeight": 10
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "dashLength": 1,
                "minPeriod": "mm",
                "minorGridEnabled": true,
                "dateFormats": [{
                    period: 'fff',
                    format: 'JJ:NN:SS'
                }, {
                    period: 'ss',
                    format: 'JJ:NN:SS'
                }, {
                    period: 'mm',
                    format: 'JJ:NN:SS'
                }, {
                    period: 'hh',
                    format: 'JJ:NN'
                }, {
                    period: 'DD',
                    format: 'MMM D'
                }, {
                    period: 'WW',
                    format: 'MMM D'
                }, {
                    period: 'MM',
                    format: 'MMM YYYY'
                }, {
                    period: 'YYYY',
                    format: 'MMM YYYY'
                }]
            },
            "export": {
                "enabled": true
            },
            "dataProvider": charData
        });

        chart.addListener("rendered", zoomChart);
        zoomChart();
        waitingDialog.hide();
    }

    function zoomChart() {
        chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
    }
</script>