<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smart cattle back office">
    <meta name="author" content="smart cattle">

    <link rel="shortcut icon" href="~/Areas/BackOffice/assets/images/favicon.ico">

    <title>SmartCattle BackOffice</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/Areas/BackOffice/assets/plugins/morris/morris.css">

    <!-- App css -->
    <link href="~/Areas/BackOffice/assets/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/BackOffice/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/BackOffice/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/BackOffice/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/BackOffice/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/BackOffice/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/BackOffice/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/Areas/BackOffice/assets/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="@Url.Action("index")" class="logo"><span>Smart<span>Cattle</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <!-- Page title -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li>
                            <h4 class="page-title">Dashboard</h4>
                        </li>
                    </ul>

                    <!-- Right(Notification and Searchbox -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- Notification -->
                            <div class="notification-box">
                                <ul class="list-inline m-b-0">
                                    <li>
                                        <a href="javascript:void(0);" class="right-bar-toggle">
                                            <i class="zmdi zmdi-notifications-none"></i>
                                        </a>
                                        <div class="noti-dot">
                                            <span class="dot"></span>
                                            <span class="pulse"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Notification bar -->
                        </li>
                        <li class="hidden-xs">
                            <form role="search" class="app-search">
                                <input type="text" placeholder="Search..."
                                       class="form-control">
                                <a href=""><i class="fa fa-search"></i></a>
                            </form>
                        </li>
                    </ul>

                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!-- User -->
                <div class="user-box">
                    <div class="user-img">
                        <img src="~/Areas/BackOffice/assets/images/users/avatar-1.jpg" alt="user-img" title="Super Admin" class="img-circle img-thumbnail img-responsive">
                        <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                    </div>
                    <h5><a href="#">Super Admin</a> </h5>
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <i class="zmdi zmdi-settings"></i>
                            </a>
                        </li>

                        <li>
                            @*<form action="/Account/LogOff" id="logoutForm" method="post">
                                @Html.AntiForgeryToken()
                                <a href="#" onclick="logOff()" class="text-custom">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                            </form>*@



                        </li>
                    </ul>
                </div>
                <!-- End User -->
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">Navigation</li>

                        <li>
                            <a href="@Url.Action("index")" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-chart"></i><span> Farms </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("NewFarm","Main")">New Farm</a></li>
                                <li><a href="@Url.Action("FarmList","Main")">Farm List</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-chart"></i><span> Previlages </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("CreateRolePermission","Main")">New Previlages</a></li> 
                            </ul>
                        </li>

                        

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-item"></i><span> Reports </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="page-starter.html">Starter Page</a></li>
                                <li><a href="page-login.html">Login</a></li>
                                <li><a href="page-register.html">Register</a></li>
                                <li><a href="page-recoverpw.html">Recover Password</a></li>
                                <li><a href="page-lock-screen.html">Lock Screen</a></li>
                                <li><a href="page-confirm-mail.html">Confirm Mail</a></li>
                                <li><a href="page-404.html">Error 404</a></li>
                                <li><a href="page-500.html">Error 500</a></li>
                            </ul>
                        </li>


                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    @RenderBody()
                </div> <!-- container -->

            </div> <!-- content -->

            <footer class="footer text-right">
                Adminto © 2016 - 2017
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
            <h4 class="">Notifications</h4>
            <div class="notification-list nicescroll">
                <ul class="list-group list-no-border user-list">
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                <img src="~/Areas/BackOffice/assets/images/users/avatar-2.jpg" alt="">
                            </div>
                            <div class="user-desc">
                                <span class="name">Michael Zenaty</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">2 hours ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="icon bg-info">
                                <i class="zmdi zmdi-account"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">New Signup</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">5 hours ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="icon bg-pink">
                                <i class="zmdi zmdi-comment"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">New Message received</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">1 day ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                <img src="~/Areas/BackOffice/assets/images/users/avatar-3.jpg" alt="">
                            </div>
                            <div class="user-desc">
                                <span class="name">James Anderson</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">2 days ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#" class="user-list-item">
                            <div class="icon bg-warning">
                                <i class="zmdi zmdi-settings"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">Settings</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">1 day ago</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /Right-bar -->

    </div>
                <!-- END wrapper -->



                <script>
                    var resizefunc = [];
                </script>
                <!-- jQuery  -->
                <script src="~/Areas/BackOffice/assets/js/jquery.min.js"></script>
                <script src="~/Areas/BackOffice/assets/js/bootstrap-rtl.min.js"></script>
                <script src="~/Areas/BackOffice/assets/js/detect.js"></script>
                <script src="~/Areas/BackOffice/assets/js/fastclick.js"></script>
                <script src="~/Areas/BackOffice/assets/js/jquery.blockUI.js"></script>
                <script src="~/Areas/BackOffice/assets/js/waves.js"></script>
                <script src="~/Areas/BackOffice/assets/js/jquery.nicescroll.js"></script>
                <script src="~/Areas/BackOffice/assets/js/jquery.slimscroll.js"></script>
                <script src="~/Areas/BackOffice/assets/js/jquery.scrollTo.min.js"></script>

                <!-- KNOB JS -->
                <!--[if IE]>
                <script type="text/javascript" src="~/Areas/BackOffice/assets/plugins/jquery-knob/excanvas.js"></script>
                <![endif]-->
                <script src="~/Areas/BackOffice/assets/plugins/jquery-knob/jquery.knob.js"></script>


                <!-- Dashboard init -->
                <script src="~/Areas/BackOffice/assets/pages/jquery.dashboard.js"></script>

                <!-- App js -->
                <script src="~/Areas/BackOffice/assets/js/jquery.core.js"></script>
                <script src="~/Areas/BackOffice/assets/js/jquery.app.js"></script>


                <script>
                    function logOff() {
                        $("#logoutForm").submit();
                    }
                </script>


                @RenderSection("PageScripts", required: false)

</body>
</html>